{% extends 'base.html.twig' %}

{% block title %}Miejscowosc index{% endblock %}

{% block body %}
    <h1>Miejscowosc index</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Nazwa</th>
            <th>Data</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for miejscowosc in miejscowoscs %}
            <tr>
                <td>{{ miejscowosc.id }}</td>
                <td>{{ miejscowosc.nazwa }}</td>
                <td>{{ miejscowosc.data ? miejscowosc.data|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    {% if is_granted('ROLE_MIEJSCOWOSC_SHOW') %}
                        <a href="{{ path('app_miejscowosc_show', {'id': miejscowosc.id}) }}">show</a>
                    {% endif %}
                    {% if is_granted('ROLE_MIEJSCOWOSC_EDIT') %}
                        <a href="{{ path('app_miejscowosc_edit', {'id': miejscowosc.id}) }}">edit</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if is_granted('ROLE_MIEJSCOWOSC_NEW') %}
        <a href="{{ path('app_miejscowosc_new') }}">Create new</a>
    {% endif %}
{% endblock %}
